body{
  background-color:black;
  color: aliceblue;
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
}
h1{
  text-align: center;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.button-back{
  margin-left: 5%;
}

 table {
  margin-top: 3%;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.edit{
  margin-right: 7%;
  background-color: #007bff;
}
.delete{
  background-color: red;
}
.delete:hover{
  background-color: red;
}
.update{
  padding: 10px 20px;
  background-color: green;
}
.update:hover{
  background-color: green;
}

